$purple : #512DA8;
$blue : #1976D2;
$l_orange : #FBC02D;
$brick : #FF5722;

@mixin buttonBG($bg) {
  border: 2px solid $bg;
  color: $bg;
  &:hover {
    background-color: $bg;
    transition: all 0.3s ease-in-out;
  }
}

.container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 30vh;
  .skewBtn{
    width: 18vw;
    height: 10vh;
    min-width: 120px;
    max-width: 180px;
    max-height: 100px;
    outline: none;
    cursor: pointer;
    background: none;
    transition: .5s;
    font-size: 24px;
    border-radius: 5px;
    font-family: "Lato",sans-serif;
    &:hover{
      border: none;
      color: white;
      font-size: 28px;
      transform:scale(1.1);
    }
  }

}

.answerBox{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  .skewBtn{
    width: 18vw;
    height: 10vh;
    min-width: 120px;
    max-width: 180px;
    max-height: 100px;
    outline: none;
    cursor: pointer;
    background: none;
    transition: .5s;
    font-size: 24px;
    border-radius: 5px;
    font-family: "Lato",sans-serif;
    &:hover{
      border: none;
      color: white;
      font-size: 28px;
      transform:scale(1.1);
    }
  }

}

/* Buttons */
.purple{
  @include buttonBG($purple);
}
.blue{
  @include buttonBG($blue);
}
.lorange{
  @include buttonBG($l_orange);
}
.brick{
  @include buttonBG($brick);
}

.row1 {
  display: flex;
  height: 10vh;
  justify-content: space-evenly;
  align-items: center;
}
.row15 {
  display: flex;
  height: 8vh;
  justify-content: space-evenly;
  align-items: center;
}
.row2 {
  display: flex;
  height: 60vh;
  justify-content: space-evenly;
  align-items: center;
}
.row3 {
  display: flex;
  height: 22vh;
  justify-content: space-evenly;
  align-items: center;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
  height: 60vh; /* Should be removed. Only for demonstration */
}

.game {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.wda-input{
  display: block; width: 100%; margin-bottom: 10px; padding: 10px;
}

.checkmark{
  height: 8vh;
}

/* Tooltip container */
.tooltip {
  // position: relative;
  // display: inline-block;
  // border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  max-width: 20vw;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: .5em;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
